@use "../variables";
@use "../mixins";

.content {
  @include mixins.content-shared;
  margin-left: variables.$content-padding / 2;
  width: variables.$inspector-width;

  .header {
    .toggle-open {
      all: unset;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        $icon-dimension: 30px;
        height: $icon-dimension;
        width: $icon-dimension;

        &:hover {
          color: variables.$secondary-color;
        }
      }
    }
  }

  .tabs {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: start;
    height: 35px;
    color: variables.$grey;
    padding: 0 16px;
    overflow-x: scroll;

    .tab {
      background-color: variables.$light-grey;
      width: 100px;
      height: 100%;
      cursor: pointer;

      &.active {
        background-color: variables.$secondary-color;
        cursor: default;
      }

      + .tab {
        border-left: variables.$grey 1px solid;
      }
    }
  }

  .vertical-header {
    display: flex;
    align-items: center;
    width: 100%;
    writing-mode: vertical-rl;
    margin: 20px 0;
    font-weight: normal;
    color: variables.$grey;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    color: variables.$grey;
    font-size: 20px;
    height: 50%;

    svg {
      $icon-dimension: 50px;
      height: $icon-dimension;
      width: $icon-dimension;
    }
  }

  &.closed {
    width: variables.$inspector-width-closed;

    .header {
      justify-content: end;
    }
  }

  .item-container {
    padding: 30px;

    .description {
      color: variables.$grey;
    }

    h2,
    h3 {
      margin: 0;
    }

    ul {
      margin: 30px 0 0;
      list-style-type: none;
      padding: 0;
    }
  }
}
