@use "../variables";

.create-playlist-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid variables.$light-grey;
  padding: 0 12px;
  height: 30px;
  border-radius: 30px;

  .plus {
    margin-left: 10px;
  }

  @media screen and (max-width: 1295px) {
    .button-text {
      display: none;
    }

    .plus {
      margin-left: 0;
    }
  }

  &:hover {
    background-color: variables.$light-grey;
    color: white;
  }
}
