@use "../variables";

.track {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: variables.$light-grey;
  padding: 0 16px;

  &.dark {
    background-color: variables.$grey;
  }

  .title {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    .artist {
      font-size: 14px;
      color: #6c6c6c;
    }
  }
}
