@use "../variables";

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 85px;
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  background-color: lighten(variables.$primary-color, 10%);

  &:hover {
    background-color: variables.$primary-color;
  }
}
