@use "../variables";
@use "../mixins";

.content {
  flex: 1;
  min-width: variables.$content-min-width;
  @include mixins.content-shared;
  margin-right: variables.$content-padding / 2;

  .list {
    height: calc(
      100% - #{variables.$content-header-height} - #{variables.$list-header-height} -
        #{variables.$content-footer-height}
    );
    overflow-y: scroll;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: variables.$content-footer-height;
    border-top: 1px solid variables.$light-grey;
    padding: 0 16px;

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: variables.$grey;
    }
  }

  .list-header {
    display: grid;
    align-content: center;
    height: 50px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    color: variables.$grey;
    font-size: 12px;

    @include mixins.grid-template-columns-for-entities;
  }
}
