@use "../variables";
@use "../mixins";

.list-entry {
  display: grid;
  align-content: center;
  height: 50px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  cursor: pointer;

  @include mixins.grid-template-columns-for-entities;

  &.track-abbreviated {
    grid-template-columns: 1fr 60px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  background-color: white;

  &.dark {
    background-color: lighten(variables.$light-grey, 11%);
  }

  &:hover {
    background-color: variables.$light-grey;
  }
}
