@use "../variables";
@use "../mixins";

.container {
  display: flex;
  justify-content: center;

  .button {
    @include mixins.rounded-button;

    .inner {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;

      svg {
        @include mixins.rotate-animation;
      }
    }
  }
}
