@use "../variables";

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: variables.$navbar-height;
  width: 100%;
  background-color: variables.$blue;
  z-index: 1000;

  .items-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;

    svg {
      cursor: pointer;
      color: white;

      &:hover {
        color: variables.$light-grey;
      }
    }

    .logo {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      width: variables.$sidebar-width;
      font-size: 17px;
      font-style: italic;

      img {
        height: 30px;
        margin-right: 5px;
      }
    }
  }
}
