@use "variables";

@mixin content-shared {
  background-color: white;
  margin: variables.$content-padding;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: variables.$grey;
    padding: 0 16px;
    border-bottom: 1px solid variables.$light-grey;

    h1 {
      font-weight: normal;
      margin: 0 16px 0 0;
    }
  }
}
