@use "variables";

@mixin rounded-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid variables.$grey;
  padding: 0 12px;
  height: 30px;
  border-radius: 30px;
  color: variables.$dark-grey;

  &:not(:disabled) {
    &:hover {
      background-color: variables.$grey;
      color: white;
    }
  }

  &:disabled {
    border: 1px solid variables.$light-grey;
    color: variables.$light-grey;
    cursor: not-allowed;
  }
}

@mixin content-shared {
  background-color: white;
  margin: variables.$content-padding;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: variables.$content-header-height;
    color: variables.$grey;
    background-color: white;
    padding: 0 16px;
    border-bottom: 1px solid variables.$light-grey;

    h1 {
      font-weight: normal;
      margin: 0 16px 0 0;
    }

    .header-items {
      display: flex;

      & > * {
        margin-left: 16px;
      }
    }
  }
}

@mixin grid-template-columns-for-entities {
  &.track {
    grid-template-columns: 50px 1fr 1fr 0.5fr 60px;
  }

  &.artist {
    grid-template-columns: 50px 1fr;
  }

  &.playlist {
    grid-template-columns: 50px 1fr 0.3fr 0.5fr;
  }

  &.genre {
    grid-template-columns: 50px 1fr 0.5fr;
  }

  &.track-abbreviated {
    grid-template-columns: 50px 1fr 60px;
  }
}

@mixin rotate-animation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
