// COLORS
$primary-color: #68bbe3;
$secondary-color: #5885af;
$tertiary-color: #41729f;
$accent-color: #274472;
$grey: #adadad;
$light-grey: #dedede;

// DIMENSIONS
$content-padding: 30px;
$navbar-height: 60px;
$sidebar-width-l: 200px;
$sidebar-item-height: 70px;
