// COLORS
$blue: #5885af;
$grey: #adadad;
$light-grey: #dedede;
$dark-grey: #797979;

// DIMENSIONS
$content-padding: 20px;
$content-min-width: 450px;
$content-footer-height: 70px;
$item-header-container-height: 100px;
$navbar-height: 60px;
$sidebar-width: 200px;
$sidebar-width-minimized: 70px;
$sidebar-item-height: 70px;
$inspector-width: 600px;
$inspector-width-closed: 64px;
$content-header-height: 60px;
$list-header-height: 50px;
$tabs-height: 60px;
$screen-width-break-point: 1435px;
