// COLORS
$primary-color: #68bbe3;
$secondary-color: #5885af;
$tertiary-color: #41729f;
$accent-color: #274472;
$grey: #adadad;
$light-grey: #dedede;
$dark-grey: #868686;

// DIMENSIONS
$content-padding: 20px;
$content-min-width: 450px;
$navbar-height: 60px;
$sidebar-width: 200px;
$sidebar-width-minimized: 70px;
$sidebar-item-height: 70px;
$inspector-width: 600px;
$inspector-width-closed: 64px;
$content-header-height: 60px;
$list-header-height: 50px;
$tabs-height: 60px;
$screen-width-break-point: 1435px;
