@use "../../variables";
@use "../../mixins";

.content {
  @include mixins.content-shared;
  margin-left: calc(#{variables.$content-padding} / 2);
  width: variables.$inspector-width;

  .header {
    .toggle-open {
      all: unset;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        $icon-dimension: 30px;
        height: $icon-dimension;
        width: $icon-dimension;

        &:hover {
          color: variables.$secondary-color;
        }
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    height: variables.$tabs-height;
    color: variables.$grey;
    padding: 10px 10px;
    overflow-x: scroll;
    box-sizing: border-box;

    .tab {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 130px;
      min-width: 120px;
      height: 100%;
      cursor: pointer;
      font-size: 12px;
      border-radius: 5px 5px 0 0;
      border-left: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      border-color: transparent;
      box-sizing: border-box;
      padding: 0 10px;

      &:hover {
        &:not(.active) {
          background-color: lighten(variables.$light-grey, 10%);
        }
      }

      &.active {
        cursor: default;
        border-color: variables.$grey;
        color: darken(variables.$grey, 30%);
      }

      .cross {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          background-color: lighten(variables.$primary-color, 10%);

          svg {
            height: 9px;
            width: 9px;
            color: white;
          }
        }
      }

      .icon {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 4px;
      }

      .identifier {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
      }
    }
  }

  .vertical-header {
    display: flex;
    align-items: center;
    width: 100%;
    writing-mode: vertical-rl;
    margin: 20px 0;
    font-weight: normal;
    color: variables.$grey;
  }

  .empty {
    height: calc(
      100% - #{variables.$tabs-height} - #{variables.$content-header-height}
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    color: variables.$grey;
    font-size: 24px;
    box-sizing: border-box;

    &.dropzone {
      border: 1px dashed variables.$light-grey;
    }

    &.dropzone-active {
      background-color: lighten(variables.$light-grey, 5%);
    }

    svg {
      $icon-dimension: 50px;
      height: $icon-dimension;
      width: $icon-dimension;
    }
  }

  &.closed {
    width: variables.$inspector-width-closed;

    .header {
      justify-content: end;
    }
  }

  .item-container {
    height: calc(
      100% - #{variables.$tabs-height} - #{variables.$content-header-height}
    );
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;

    .description {
      color: variables.$grey;
      margin-bottom: 10px;
    }

    h2,
    h3 {
      margin: 0;
    }

    ul {
      margin: 30px 0 0;
      list-style-type: none;
      padding: 0;
    }

    $item-header-container-height: 100px;

    .item-header-container {
      height: 100px;
    }

    .tracks-container {
      height: calc(100% - $item-header-container-height - 22px);
      padding-top: 10px;
      overflow-y: scroll;
      box-sizing: border-box;

      &.dropzone-active {
        border: 1px dashed variables.$light-grey;
      }
    }
  }
}

.dropzone-active {
  > * {
    pointer-events: none;
  }
}
